- var currencies = [["Bitcoin","$1.96","trending1"],["Ethereum","$0.07","trending2"],["Ripple","$2.15","trending3"],["Stellar","$4.96","trending4"]];
- var fees = [["Bitrade","$12.96"],["Bitpreco","$13.07"],["Novadax","$13.15"],["Coinext","$14.96"]];
mixin currencyTable(coin,price,trending)
    tr
        td.table__left= coin
        td.table__right= price
            span(class=trending)
mixin feeTable(coin, price)
    tr
        td.table__left= coin
        td.table__right= price


doctype html
html
    head
        title Document
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href!="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@400;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./css/style.css")
    body
        header.header
            img(src="./assets/logo01.svg" alt="Batatabit logo")
            .header__text
                h1 La pr칩xima revoluci칩n en el intercambio de criptomonedas.
                p Batabit te ayuda a navegar entre los diferentes precios y tendencias.
                a(href="") Conoce Nuestros Planes 
                    span
        main.main
            section.exchange-container
                .background-img
                .exchange-container__text
                    h2 Visibilizamos todas las tasas de cambio.
                    p Traemos informaci칩n en tiempo real de las casas de cambio y las monedas m치s importantes del mundo.
                section.tables-container
                    div(class="currency-table table-div")
                        h3.currency-table__title Monedas
                        div(class="currency-table__container table")
                            table
                                each val in currencies
                                    +currencyTable(val[0],val[1],val[2])
                        .currency-table__date
                            p #[b Actualizado:] 19 Julio 23:45
                    div(class="fee-table table-div")
                        h3.fee-table__title Comisiones
                        div(class="fee-table__container table")
                            table
                                each val in fees
                                    +feeTable(val[0],val[1])
                        .fee-table__date
                            p #[b Actualizado:] 19 Julio 23:48
            section
            section
            section
        footer


